@media screen and (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  p {
    font-size: 1.1em;
    font-family: cursive;
    color: #34a2e2;
    text-align: center;
  }
  .bemvindo {
    color: white;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
  }
  .bts-a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 200px;
    height: 100px;
  }
  .bts-a > a {
    display: block;
    font-size: 1.5em;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
  }
  .fotofundo {
    text-align: center;
    margin: 30px;
  }
  .fotofundo > h3 {
    margin-bottom: 20px;
    font-size: 1em;
    color: #fff;
    font-family: cursive;
  }
  #bgfoto {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:769px) and (max-width:1199px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  p {
    font-size: 1.1em;
    font-family: cursive;
    color: #34a2e2;
    text-align: center;
  }
  .bemvindo {
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin: 20px;
    margin-top: 100px;
  }
  .bts-a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    width: 300px;
    height: 200px;
    /* background-color: red; */
  }
  .bts-a > a {
    display: block;
    font-size: 1.5em;
    width: 300px;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-align: center;
  }
  .fotofundo {
    text-align: center;
    margin: 30px;
  }
  .fotofundo > h3 {
    margin-bottom: 20px;
    font-size: 1em;
    color: #fff;
    font-family: cursive;
  }
  #bgfoto {
    height: 217px;
    width: 200px;
    margin-bottom: 20px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) {
  * {
    margin: 0px;
    padding: 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  p {
    font-family: cursive;
    font-size: 0.8em;
    color: #34a2e2;
    text-align: center;
  }
  .bemvindo {
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 2em;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      text-shadow 1s;
  }
  .bemvindo:hover {
    text-shadow: 0px 0px 50px #34a2e2;
    cursor: cell;
  }

  .bts-a {
    display: inline;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 50px;
  }
  .bts-a > a {
    display: block;
    font-size: 2em;
    padding: 5px 5px;
    /* background-color: red; */
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    box-shadow: inset 0 0 0 0;
    text-align: center;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  .bts-a > a:hover {
    box-shadow: inset 500px 0 0 0 #34a2e2;
  }
  .fotofundo {
    position: absolute;
    margin: auto;
    top: 15%;
    right: 15%;
    width: 300px;
    height: 400px;
    display: flex;
  }
  .fotofundo > h3 {
    margin-top: 60px;
    margin-left: 180px;
    color: #fff;
    font-family: cursive;
  }
  #aCV {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    width: 350px;
    height: 350px;
  }
  #bgfoto {
    height: 350px;
    width: 400px;
    transition: width 1s, height 1s, transition 2s;
  }
  #bgfoto:hover {
    height: 370px;
    cursor: pointer;
  }

  /* #bgfoto {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 30%;
  right: 10%;
  transition: width 1s, height 1s, transition 2s;
}
#bgfoto:hover {
  position: absolute;
  top: 230px;
  height: 530px;
  cursor: pointer;
}
#aCV {
  font-size: 50px;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 100px;
} */
}