@charset "UTF-8";

/*  P: até600px
  Cel: até 768px
  Tab: até 992px
  Desk: até 1200px
  Tv's: acima de 1200px */
/* 
  #2A3436
  #5B7175
  #8EB1B7
  #ABD4DB
  #BFEDF5 */

  @media screen and (min-width: 600px) and (max-width: 992px) {
    body{
      background-color: aqua;
    }
  }